patc_kokkos_2019.aux
patc_kokkos_2019.nav
patc_kokkos_2019.pdf
patc_kokkos_2019.log
patc_kokkos_2019.out
patc_kokkos_2019.snm
patc_kokkos_2019.toc
patc_kokkos_2019.vrb
_minted-patc_kokkos_2019
tmp.inputs
auto
