patc_kokkos_2019.aux
patc_kokkos_2019.nav
patc_kokkos_2019.pdf
patc_kokkos_2019.log
patc_kokkos_2019.out
patc_kokkos_2019.snm
patc_kokkos_2019.toc
patc_kokkos_2019.vrb
_minted-patc_kokkos_2019
cafe_loops_kokkos_2021.aux
cafe_loops_kokkos_2021.nav
cafe_loops_kokkos_2021.pdf
cafe_loops_kokkos_2021.log
cafe_loops_kokkos_2021.out
cafe_loops_kokkos_2021.snm
cafe_loops_kokkos_2021.toc
cafe_loops_kokkos_2021.vrb
_minted-cafe_loops_kokkos_2021
tmp.inputs
auto
