patc_kokkos_2018.aux
patc_kokkos_2018.nav
patc_kokkos_2018.pdf
patc_kokkos_2018.log
patc_kokkos_2018.out
patc_kokkos_2018.snm
patc_kokkos_2018.toc
patc_kokkos_2018.vrb
_minted-patc_kokkos_2018
tmp.inputs
