patc_kokkos_2019_intro.aux
patc_kokkos_2019_intro.nav
patc_kokkos_2019_intro.pdf
patc_kokkos_2019_intro.log
patc_kokkos_2019_intro.out
patc_kokkos_2019_intro.snm
patc_kokkos_2019_intro.toc
_minted-patc_kokkos_2019_intro
tmp.inputs
