patc_kokkos_2018_intro.aux
patc_kokkos_2018_intro.nav
patc_kokkos_2018_intro.pdf
patc_kokkos_2018_intro.log
patc_kokkos_2018_intro.out
patc_kokkos_2018_intro.snm
patc_kokkos_2018_intro.toc
_minted-patc_kokkos_2018_intro
tmp.inputs
