patc_kokkos_2018_euler.aux
patc_kokkos_2018_euler.nav
patc_kokkos_2018_euler.pdf
patc_kokkos_2018_euler.log
patc_kokkos_2018_euler.out
patc_kokkos_2018_euler.snm
patc_kokkos_2018_euler.toc
_minted-patc_kokkos_2018_euler
tmp.inputs
html
