patc_kokkos_2019_euler.aux
patc_kokkos_2019_euler.nav
patc_kokkos_2019_euler.pdf
patc_kokkos_2019_euler.log
patc_kokkos_2019_euler.out
patc_kokkos_2019_euler.snm
patc_kokkos_2019_euler.toc
_minted-patc_kokkos_2019_euler
tmp.inputs
html
